<fieldset>
  <div class="row">
    <div class="col-sm-4">
      <form action="/sign-up" method="post">
        <h2>Join Us, Bretheren!</h2>
        <div class="form-group">
          <label for="username">Username</label><br>
          <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>
                <div class="form-group">
              <label for="user-password">Password</label><br>
              <input type="password" name="password" class="form-control" id="user-password" placeholder="Password">
            </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Leggo</button>
        </div>

      </form>
    </div>
  </div>
</fieldset>
